---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- Add your form here -->
<h2>Request My Work</h2>
<p>If you would like to request my work, please fill out the form below with your email and an optional message.</p>

<form action="https://formspree.io/f/xqapejrg" method="POST">
    <label for="email">Your Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Your email address" required><br><br>

    <label for="message">Message (Optional):</label><br>
    <textarea id="message" name="message" placeholder="Write your message here..." rows="5"></textarea><br><br>

    <button type="submit">Submit</button>
</form>
